<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <div class="opilsol-N25" data-bid="jrLte86yYJ">
      <div class="content-container">
        <div class="container-md">
          <div class="contant-header textset">
            <h2 th:text="${vo.subject}" class="textset-tit h2"></h2>
            <p th:text="${vo.name}" class="textset-desc p1"></p>
          </div>
          <div class="contant-body">
            <p th:text="${vo.content}"></p>
            <span th:text="${vo.regdate}" class="textset-desc"></span>
          </div>
          <div class="contant-bottom">
            <div class="contant-nav">
              <button class="con-link-btn prve" type="button">NEXT</button>
            </div>
            <div class="contant-nav">
              <button class="con-link-btn next" type="button">PREV</button>
            </div>
          </div>
          <div class="bottom-btn">
            <a class="btnset btnset-lg btnset-rect" href="/board/update">수정하기</a>
            <a class="btnset btnset-lg btnset-rect" href="/board/delete">삭제하기</a>
            <a class="btnset btnset-lg btnset-rect" href="/board/list">목록보기</a>
          </div>
        </div>
      </div>
    </div>
</body>
</html>