<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  <!-- [S]glamping-N3 -->
  <footer class="glamping-N3" data-bid="xplTc8lxR8">
    <div class="footer-container">
      <div class="footer-body container-md">
        <h2 class="footer-logo"><a href="/">TripTravel</a></h2>
        
        <ul class="footer-snslist">
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="../images/icons/ico_instagram_white.svg" alt="인스타그램">
            </a>
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="../images/icons/ico_youtube_white.svg" alt="유튜브">
            </a>
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="../images/icons/ico_facebook_white.svg" alt="페이스북">
            </a>
          </li>
        </ul>
        
        <ul class="footer-menugroup">
          <li class="footer-menulink">
            <a href="/tour/find">
              <span>여행</span>
            </a>
          </li>
          <li class="footer-menulink">
            <a href="/festival/find">
              <span>축제</span>
            </a>
          </li>
		  <li class="footer-menulink">
            <a href="/activity/find">
              <span>체험</span>
            </a>
          </li>
          <li class="footer-menulink">
            <a href="/board/list">
              <span>커뮤니티</span>
            </a>
          </li>
        </ul>
        
        <div class="footer-txtgroup">
          <div class="footer-txt">
            <p> 서울특별시 마포구 월드컵북로 21 쌍용강북교육센터 </p>
            <p>
              <span>T. 010-2345-6789</span>
              <span>E. help@trip.com</span>
            </p>
          </div>
          <div class="footer-txt">
            <p>2024 BY KIMHAYOUNG. ALL RIGHTS RESEVED</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>