<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://unpkg.com/vue@3"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <!-- [S]glamping-N1 -->
  <header class="glamping-N1" data-bid="IiLTC8Lwme" id="header">
    <div class="header-container container-lg">
      <div class="header-left">
        <h1 class="header-title">
          <a href="/">TripTravel</a>
        </h1>
      </div>
      
      <div class="header-center">
        <ul class="header-member">
          <li>
            <ul class="inline" th:if="${session.id==null}">
				<li><input type="text" id="id" ref="id" v-model="id" size="15" placeholder="아이디"></li>
				<li><input type="password" id="password" ref="pwd" v-model="pwd" size="15" placeholder="비밀번호"></li>
				<li><input type="button" value="로그인" @click="login()">
			</ul>
          </li>
          <li>
          	<ul class="inline" th:if="${session.id!=null}">
				<li><span th:text="${session.name}"></span>님 로그인 되었습니다.</li>
				<li><input type="button" value="로그아웃" @click="logout()">
			</ul>
          </li>
          <!-- <li>
            <a href="javascript:void(0)">회원가입</a>
          </li> -->
        </ul>
        <ul class="header-gnblist">
          <li class="header-gnbitem">
            <a class="header-gnblink" href="#">
              <span>프로젝트 소개</span>
            </a>
            <ul class="header-sublist">
              <li class="header-subitem">
                <a class="header-sublink" href="#">
                  <span>인사말</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="header-gnbitem">
            <a class="header-gnblink" href="/tour/find">
              <span>여행</span>
            </a>
            <ul class="header-sublist">
              <li class="header-subitem">
                <a class="header-sublink" href="/tour/find">
                  <span>여행 목록</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="header-gnbitem">
            <a class="header-gnblink" href="/festival/find">
              <span>축제</span>
            </a>
            <ul class="header-sublist">
              <li class="header-subitem">
                <a class="header-sublink" href="/festival/find">
                  <span>축제 목록</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="header-gnbitem">
            <a class="header-gnblink" href="/activity/find">
              <span>체험</span>
            </a>
            <ul class="header-sublist">
              <li class="header-subitem">
                <a class="header-sublink" href="/activity/find">
                  <span>체험 목록</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="header-gnbitem">
            <a class="header-gnblink" href="/board/list">
              <span>커뮤니티</span>
            </a>
            <ul class="header-sublist">
              <li class="header-subitem">
                <a class="header-sublink" href="/board/list">
                  <span>공지사항</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      
      <div class="header-right">
        <div class="header-utils">
          <a href="javascript:void(0);" class="btn-user header-utils-btn">
            <img src="../images/icons/ico_user_white.svg" alt="유저 아이콘">
          </a>
          <button class="btn-allmenu header-utils-btn">
            <img src="../images/icons/ico_menu_white.svg" alt="PC메뉴">
          </button>
          <button class="btn-momenu header-utils-btn">
            <img src="../images/icons/ico_menu_white.svg" alt="모바일메뉴">
          </button>
          <button class="btn-moclose header-utils-btn">
            <img src="../images/icons/ico_close_white.svg" alt="닫기">
          </button>
        </div>
      </div>
    </div>
    
    <div class="header-fullmenu fullmenu-right">
      <div class="fullmenu-wrapper">
        <div class="fullmenu-head">
          <h4 class="fullmenu-title">
            <a href="javascript:void(0)">
              <img src="../images/img_logo_white.png" alt="로고">
            </a>
          </h4>
          <ul class="fullmenu-member">
            <li>
	            <ul class="inline" th:if="${session.id==null}">
					<li><input type="text" id="id" ref="id" v-model="id" size="15" placeholder="아이디"></li>
					<li><input type="password" id="password" ref="pwd" v-model="pwd" size="15" placeholder="비밀번호"></li>
					<li><input type="button" value="로그인" @click="login()">
				</ul>
          	</li>
          	<li>
          		<ul class="inline" th:if="${session.id!=null}">
					<li><span th:text="${session.name}"></span>님 로그인 되었습니다.</li>
					<li><input type="button" value="로그아웃" @click="logout()">
				</ul>
          	</li>
            <!-- <li>
              <a href="javascript:void(0)">회원가입</a>
            </li> -->
          </ul>
        </div>
        <ul class="fullmenu-gnblist">
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="#">
              <span>프로젝트 소개</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="#">
                  <span>인사말</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="/tour/find">
              <span>여행</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="/tour/find">
                  <span>여행 목록</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="/festival/find">
              <span>축제</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="/festival/find">
                  <span>축제 목록</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="/activity/find">
              <span>체험</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="/activity/find">
                  <span>체험 목록</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="/board/list">
              <span>커뮤니티</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="/board/list">
                  <span>공지사항</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <button class="fullmenu-close">
        <img src="../images/icons/ico_close_white.svg" alt="닫기">
      </button>
    </div>
  </header>
  <!-- [E]glamping-N1 -->
  
<script>
// id:[[${id}]]
let logApp=Vue.createApp({
	data(){
		return {
			id:'',
			pwd:''
		}
	},
	methods:{
		login(){
			if(this.id==="") {
				this.$refs.id.focus()
				return
			}
			if(this.pwd==="") {
				this.$refs.pwd.focus()
				return
			}
			axios.post('/member/login', null, {
				params:{
					id:this.id,
					pwd:this.pwd
				}
			}).then(res=>{
				if(res.data==='NOID') {
					alert("아이디가 존재하지 않습니다.")
					this.id=''
					this.pwd=''
					this.$refs.id.focus()
					
				} else if(res.data==='NOPWD') {
					alert("비밀번호가 존재하지 않습니다.")
					this.pwd=''
					this.$refs.pwd.focus()
				} else {
					location.href="/"
				}
			})
		},
		logout(){
			axios.get('/member/logout').then(res=>{
				if(res.data==='yes') {
					location.href="/"
				} else {
					alert("로그아웃 실패하셨습니다.")
				}
			})
		}
	}
}).mount('#header')
</script>
</body>
</html>