<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  <main class="th-layout-main ">
    <!-- [S]glamping-N4 -->
    <div class="glamping-N4" data-bid="keLTc8lWRx">
      <div class="contents-container">
        <div class="contents-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img class="contents-backimg img-pc" src="../images/img_mainvisual_01.png" alt="PC 메인 비주얼 이미지">
              <img class="contents-backimg img-mobile" src="../images/img_mainvisual_mobile_01.png" alt="모바일 메인 비주얼 이미지">
              <div class="contents-slide-group container-md">
                <div class="textset textset-visual">
                  <h2 class="textset-tit">함께 떠나는 여행</h2>
                  <p class="textset-desc"> 템하 글램핑를 통해 가족, 연인과의 추억의 시간을 만들어 보세요. <br> 템하 글램핑에서 자신있게 초대합니다. </p>
                </div>
                <a class="btnset btnset-round btnset-line" href="javascript:void(0)">자세히 보기</a>
              </div>
            </div>
            <div class="swiper-slide">
              <img class="contents-backimg img-pc" src="../images/img_mainvisual_02.png" alt="PC 메인 비주얼 이미지">
              <img class="contents-backimg img-mobile" src="../images/img_mainvisual_mobile_02.png" alt="모바일 메인 비주얼 이미지">
              <div class="contents-slide-group container-md">
                <div class="textset textset-visual">
                  <h2 class="textset-tit">함께 떠나는 여행</h2>
                  <p class="textset-desc"> 템하 글램핑를 통해 가족, 연인과의 추억의 시간을 만들어 보세요. <br> 템하 글램핑에서 자신있게 초대합니다. </p>
                </div>
                <a class="btnset btnset-round btnset-line" href="javascript:void(0)">자세히 보기</a>
              </div>
            </div>
            <div class="swiper-slide">
              <img class="contents-backimg img-pc" src="../images/img_mainvisual_03.png" alt="PC 메인 비주얼 이미지">
              <img class="contents-backimg img-mobile" src="../images/img_mainvisual_mobile_03.png" alt="모바일 메인 비주얼 이미지">
              <div class="contents-slide-group container-md">
                <div class="textset textset-visual">
                  <h2 class="textset-tit">함께 떠나는 여행</h2>
                  <p class="textset-desc"> 템하 글램핑를 통해 가족, 연인과의 추억의 시간을 만들어 보세요. <br> 템하 글램핑에서 자신있게 초대합니다. </p>
                </div>
                <a class="btnset btnset-round btnset-line" href="javascript:void(0)">자세히 보기</a>
              </div>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="contents-control">
            <div class="swiper-pagination"></div>
            <div class="swiper-button-pause">
              <img src="../images/icons/ico_pause_white.svg" alt="스와이퍼 멈춤버튼">
            </div>
            <div class="swiper-button-play">
              <img src="../images/icons/ico_play_white.svg" alt="스와이퍼 재생버튼">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]glamping-N4 -->
    
    <!-- [S]glamping-N5 -->
    <div class="glamping-N5" data-bid="kyLTC8lWX3">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="cardset-wrap">
            <div class="cardset cardset-xl cardset-deco cardset-hor row-rever">
              <figure class="cardset-figure">
                <img class="cardset-img" src="../images/img_glamping_N5_1.png" alt="카드이미지">
              </figure>
              <div class="cardset-body">
                <h2 class="cardset-tit"> 템하 글램핑만의 감성으로 <br> 새로움을 만듭니다. </h2>
                <p class="cardset-desc"> 디자인은 단순히 아름답게만 만드는 작업이 아니라, 사용자의 편의성을 <br> 고려해 아름다움을 불어넣어야 합니다. </p>
                <a href="javascript:void(0);" class="btnset btnset-round btnset-line btnset-black">자세히보기</a>
              </div>
            </div>
            <div class="cardset cardset-xl cardset-deco cardset-hor">
              <figure class="cardset-figure">
                <img class="cardset-img" src="../images/img_glamping_N5_2.png" alt="카드이미지">
              </figure>
              <div class="cardset-body">
                <h2 class="cardset-tit"> 자연을 담은 여행 <br> 마음껏 체험하세요. </h2>
                <p class="cardset-desc"> 끊임없이 변하고 발전하는 인터넷 시대에 캠프랜드만의 <br> 트렌드한 감성 디자인과 기술을 더하여 차원높은 서비스를 제공합니다. </p>
                <a href="javascript:void(0);" class="btnset btnset-round btnset-line btnset-black">자세히보기</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]glamping-N5 -->
    
    <!-- [S]glamping-N6 -->
    <div class="glamping-N6" data-bid="tmltc8lx2p">
      <div class="contents-inner">
        <div class="contents-container">
          <div class="imageset">
            <img class="imageset-img img-pc" src="../images/img_glamping_N6_1.png" alt="PC 이미지">
            <img class="imageset-img img-mobile" src="../images/img_glamping_mobile_N6_1.png" alt="모바일 이미지">
          </div>
          <div class="cardset cardset-xl cardset-deco">
            <h2 class="cardset-tit"> 추억쌓기 딱 좋은 템하 캠핑 <br> 마음껏 체험하기 </h2>
            <p class="cardset-desc"> 우리에게 템하 캠핑이 소중한 추억을 만들어주었습니다. <br> 다시 찾고 싶은 캠핑장입니다. </p>
            <a href="javascript:void(0);" class="btnset btnset-round btnset-line btnset-white">체험하기</a>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]glamping-N6 -->
    <!-- [S]glamping-N7 -->
    <div class="glamping-N7" data-bid="fyLTc8lx7P">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="textset">
            <h2 class="textset-tit">템하 커뮤니티</h2>
            <p class="textset-desc">행복한 캠프랜드의 커뮤니티를 만나보세요.</p>
          </div>
          <div class="contents-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="contents-slide-group container-md">
                  <a href="javascript:void(0);" class="cardset">
                    <figure class="cardset-figure">
                      <img class="cardset-img" src="../images/img_glamping_N7_1.png" alt="이미지">
                    </figure>
                    <div class="cardset-body">
                      <h2 class="cardset-tit">캠프랜드에서의 하루</h2>
                      <p class="cardset-desc"> 강촌에 캠프랜드가 새로 생겼습니다. 캠핑장 <br> 에서 서향의 노을이 아릅답습니다. </p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="contents-slide-group container-md">
                  <a href="javascript:void(0);" class="cardset">
                    <figure class="cardset-figure">
                      <img class="cardset-img" src="../images/img_glamping_N7_2.png" alt="이미지">
                    </figure>
                    <div class="cardset-body">
                      <h2 class="cardset-tit">자연경관 글램핑</h2>
                      <p class="cardset-desc"> 강촌에 캠프랜드가 새로 생겼습니다. 캠핑장 <br> 에서 서향의 노을이 아릅답습니다. </p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="contents-slide-group container-md">
                  <a href="javascript:void(0);" class="cardset">
                    <figure class="cardset-figure">
                      <img class="cardset-img" src="../images/img_glamping_N7_3.png" alt="이미지">
                    </figure>
                    <div class="cardset-body">
                      <h2 class="cardset-tit">힐링파크 스팟</h2>
                      <p class="cardset-desc"> 강촌에 캠프랜드가 새로 생겼습니다. 캠핑장 <br> 에서 서향의 노을이 아릅답습니다. </p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="contents-slide-group container-md">
                  <a href="javascript:void(0);" class="cardset">
                    <figure class="cardset-figure">
                      <img class="cardset-img" src="../images/img_glamping_N7_4.png" alt="이미지">
                    </figure>
                    <div class="cardset-body">
                      <h2 class="cardset-tit">여유로운 글램핑</h2>
                      <p class="cardset-desc"> 강촌에 캠프랜드가 새로 생겼습니다. 캠핑장 <br> 에서 서향의 노을이 아릅답습니다. </p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
          <div class="contents-control">
            <div class="swiper-pagination"></div>
            <a href="javascript:void(0);" class="btnset btnset-text btnset-icon">자세히보기 <div class="btnset-img">
                <img src="../images/icons/ico_more_black.svg" alt="자세히보기 아이콘">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]glamping-N7 -->
    
<!--     [S]glamping-N8
    <div class="glamping-N8" data-bid="TjLTC8lXf2">
      <div class="contents-inner">
        <div class="contents-container">
          <div class="videoset">
            <video class="videoset-video">
              <source src="../resources/videos/video.mp4">
            </video>
            <div class="videoset-body container-md">
              <p class="videoset-subtit">Temha Video</p>
              <h2 class="videoset-tit"> 기분좋은 일상 속 행복 여행 <br> 템하 글램핑 여행사 </h2>
              <button class="videoset-play">
                <img src="../images/icons/ico_video_play.svg" alt="플레이버튼">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    [E]glamping-N8 -->
    
    <!-- [S]glamping-N9 -->
    <div class="glamping-N9" data-bid="aqLTc8lXJJ">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="textset">
            <h2 class="textset-tit">템하를 이용한 생생 리뷰</h2>
            <p class="textset-desc">템하 캠프랜드의 생생 리뷰를 만나보세요.</p>
          </div>
          <div class="contents-control">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
        <div class="contents-container">
          <div class="contents-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="contents-slide-group">
                  <div class="cardset cardset-user">
                    <figure class="cardset-figure">
                      <img class="cardset-img" src="../images/img_profile_1.png" alt="이미지">
                    </figure>
                    <div class="cardset-profile">
                      <p class="cardset-text"> 템플릿하우스로 사용 으로 업무 시간과 생산성을 높일 수있습니다. 다양한 프로젝트 활용과 자주 쓰는 코딩을 미리 저장하고 빠르게 적용할 수 있어서 너무 편리하고 좋아요 </p>
                      <p class="cardset-info">글램핑 구매자</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="contents-slide-group">
                  <div class="cardset cardset-user">
                    <figure class="cardset-figure">
                      <img class="cardset-img" src="../images/img_profile_2.png" alt="이미지">
                    </figure>
                    <div class="cardset-profile">
                      <p class="cardset-text"> 템플릿하우스로 사용 으로 업무 시간과 생산성을 높일 수있습니다. 다양한 프로젝트 활용과 자주 쓰는 코딩을 미리 저장하고 빠르게 적용할 수 있어서 너무 편리하고 좋아요 </p>
                      <p class="cardset-info">글램핑 구매자</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="contents-slide-group">
                  <div class="cardset cardset-user">
                    <figure class="cardset-figure">
                      <img class="cardset-img" src="../images/img_profile_3.png" alt="이미지">
                    </figure>
                    <div class="cardset-profile">
                      <p class="cardset-text"> 템플릿하우스로 사용 으로 업무 시간과 생산성을 높일 수있습니다. 다양한 프로젝트 활용과 자주 쓰는 코딩을 미리 저장하고 빠르게 적용할 수 있어서 너무 편리하고 좋아요 </p>
                      <p class="cardset-info">글램핑 구매자</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="contents-slide-group">
                  <div class="cardset cardset-user">
                    <figure class="cardset-figure">
                      <img class="cardset-img" src="../images/img_profile_4.png" alt="이미지">
                    </figure>
                    <div class="cardset-profile">
                      <p class="cardset-text"> 템플릿하우스로 사용 으로 업무 시간과 생산성을 높일 수있습니다. 다양한 프로젝트 활용과 자주 쓰는 코딩을 미리 저장하고 빠르게 적용할 수 있어서 너무 편리하고 좋아요 </p>
                      <p class="cardset-info">글램핑 구매자</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="contents-slide-group">
                  <div class="cardset cardset-user">
                    <figure class="cardset-figure">
                      <img class="cardset-img" src="../images/img_profile_5.png" alt="이미지">
                    </figure>
                    <div class="cardset-profile">
                      <p class="cardset-text"> 템플릿하우스로 사용 으로 업무 시간과 생산성을 높일 수있습니다. 다양한 프로젝트 활용과 자주 쓰는 코딩을 미리 저장하고 빠르게 적용할 수 있어서 너무 편리하고 좋아요 </p>
                      <p class="cardset-info">글램핑 구매자</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="contents-slide-group">
                  <div class="cardset cardset-user">
                    <figure class="cardset-figure">
                      <img class="cardset-img" src="../images/img_profile_1.png" alt="이미지">
                    </figure>
                    <div class="cardset-profile">
                      <p class="cardset-text"> 템플릿하우스로 사용 으로 업무 시간과 생산성을 높일 수있습니다. 다양한 프로젝트 활용과 자주 쓰는 코딩을 미리 저장하고 빠르게 적용할 수 있어서 너무 편리하고 좋아요 </p>
                      <p class="cardset-info">글램핑 구매자</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="contents-slide-group">
                  <div class="cardset cardset-user">
                    <figure class="cardset-figure">
                      <img class="cardset-img" src="../images/img_profile_2.png" alt="이미지">
                    </figure>
                    <div class="cardset-profile">
                      <p class="cardset-text"> 템플릿하우스로 사용 으로 업무 시간과 생산성을 높일 수있습니다. 다양한 프로젝트 활용과 자주 쓰는 코딩을 미리 저장하고 빠르게 적용할 수 있어서 너무 편리하고 좋아요 </p>
                      <p class="cardset-info">글램핑 구매자</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="contents-slide-group">
                  <div class="cardset cardset-user">
                    <figure class="cardset-figure">
                      <img class="cardset-img" src="../images/img_profile_3.png" alt="이미지">
                    </figure>
                    <div class="cardset-profile">
                      <p class="cardset-text"> 템플릿하우스로 사용 으로 업무 시간과 생산성을 높일 수있습니다. 다양한 프로젝트 활용과 자주 쓰는 코딩을 미리 저장하고 빠르게 적용할 수 있어서 너무 편리하고 좋아요 </p>
                      <p class="cardset-info">글램핑 구매자</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="contents-slide-group">
                  <div class="cardset cardset-user">
                    <figure class="cardset-figure">
                      <img class="cardset-img" src="../images/img_profile_4.png" alt="이미지">
                    </figure>
                    <div class="cardset-profile">
                      <p class="cardset-text"> 템플릿하우스로 사용 으로 업무 시간과 생산성을 높일 수있습니다. 다양한 프로젝트 활용과 자주 쓰는 코딩을 미리 저장하고 빠르게 적용할 수 있어서 너무 편리하고 좋아요 </p>
                      <p class="cardset-info">글램핑 구매자</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="contents-slide-group">
                  <div class="cardset cardset-user">
                    <figure class="cardset-figure">
                      <img class="cardset-img" src="../images/img_profile_5.png" alt="이미지">
                    </figure>
                    <div class="cardset-profile">
                      <p class="cardset-text"> 템플릿하우스로 사용 으로 업무 시간과 생산성을 높일 수있습니다. 다양한 프로젝트 활용과 자주 쓰는 코딩을 미리 저장하고 빠르게 적용할 수 있어서 너무 편리하고 좋아요 </p>
                      <p class="cardset-info">글램핑 구매자</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]glamping-N9 -->
  </main>
</body>
</html>