<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  <main class="th-layout-main ">
    <!-- [S]glamping-N4 -->
    <div class="glamping-N4" data-bid="keLTc8lWRx">
      <div class="contents-container">
        <div class="contents-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img class="contents-backimg img-pc" src="https://images.unsplash.com/photo-1653225516877-fc465ee3ccd1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="PC 메인 비주얼 이미지">
              <img class="contents-backimg img-mobile" src="https://images.unsplash.com/photo-1653225516877-fc465ee3ccd1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="모바일 메인 비주얼 이미지">
              <div class="contents-slide-group container-md">
                <div class="textset textset-visual">
                  <h2 class="textset-tit">함께 떠나는 여행</h2>
                  <p class="textset-desc"> 여행을 통해 가족, 연인과의 추억의 시간을 만들어 보세요. <br> 트립트래블에서 여러분을 초대합니다. </p>
                </div>
                <a class="btnset btnset-round btnset-line" href="/tour/find">자세히 보기</a>
              </div>
            </div>
            <div class="swiper-slide">
              <img class="contents-backimg img-pc" src="https://images.unsplash.com/photo-1616340705328-c48c03dc722e?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="PC 메인 비주얼 이미지">
              <img class="contents-backimg img-mobile" src="https://images.unsplash.com/photo-1616340705328-c48c03dc722e?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="모바일 메인 비주얼 이미지">
              <div class="contents-slide-group container-md">
                <div class="textset textset-visual">
                  <h2 class="textset-tit">함께 떠나는 여행</h2>
                  <p class="textset-desc"> 여행을 통해 가족, 연인과의 추억의 시간을 만들어 보세요. <br> 트립트래블에서 여러분을 초대합니다. </p>
                </div>
                <a class="btnset btnset-round btnset-line" href="festival/find">자세히 보기</a>
              </div>
            </div>
            <div class="swiper-slide">
              <img class="contents-backimg img-pc" src="https://images.unsplash.com/photo-1682673549339-3799c35e4129?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="PC 메인 비주얼 이미지">
              <img class="contents-backimg img-mobile" src="https://images.unsplash.com/photo-1682673549339-3799c35e4129?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="모바일 메인 비주얼 이미지">
              <div class="contents-slide-group container-md">
                <div class="textset textset-visual">
                  <h2 class="textset-tit">함께 떠나는 여행</h2>
                  <p class="textset-desc"> 여행을 통해 가족, 연인과의 추억의 시간을 만들어 보세요. <br> 트립트래블에서 여러분을 초대합니다. </p>
                </div>
                <a class="btnset btnset-round btnset-line" href="/activity/find">자세히 보기</a>
              </div>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="contents-control">
            <div class="swiper-pagination"></div>
            <div class="swiper-button-pause">
              <img src="/images/icons/ico_pause_white.svg" alt="스와이퍼 멈춤버튼">
            </div>
            <div class="swiper-button-play">
              <img src="/images/icons/ico_play_white.svg" alt="스와이퍼 재생버튼">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]glamping-N4 -->
    
    <!-- [S]glamping-N5 -->
    <!-- <div class="glamping-N5" data-bid="kyLTC8lWX3">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="cardset-wrap">
            <div th:each="tvo:${tList}" class="cardset cardset-xl cardset-deco cardset-hor">
              <figure class="cardset-figure">
                <img class="cardset-img" th:src="${tvo.poster}" th:title="${tvo.title}">
              </figure>
              <div class="cardset-body">
                <h2 class="cardset-tit" th:text="${tvo.title}"></h2>
                <p class="cardset-desc" th:text="${tvo.tag}"></p>
                <a th:href="@{/tour/detail(no=${tvo.no})}" class="btnset btnset-round btnset-line btnset-black">자세히보기</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- [E]glamping-N5 -->
    
        <!-- [S]glamping-N14 -->
    <div class="glamping-N14" data-bid="ZyLTc8M98q">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="cardset-wrap">
          
            <div th:each="tvo:${tList}" class="cardset cardset-lg">
              <div class="cardset-top">
                <strong class="cardset-name">Tour</strong>
                <figure class="cardset-figure">
                  <img th:src="${tvo.poster}" th:title="${tvo.title}" class="cardset-img">
                </figure>
              </div>
              <div class="cardset-body">
                <strong class="cardset-name">Tour</strong>
                <h2 th:text="${tvo.title}" class="cardset-tit"></h2>
                <p th:text="${tvo.tag}" class="cardset-desc"></p>
                <a th:href="@{/tour/detail(no=${tvo.no})}" class="btnset btnset-round btnset-line btnset-black">자세히보기</a>
              </div>
            </div>
            
            
            <div th:each="fvo:${fList}" class="cardset cardset-lg">
              <div class="cardset-top">
                <strong class="cardset-name">Festival</strong>
                <figure class="cardset-figure">
                  <img th:src="${fvo.poster}" th:title="${fvo.title}" class="cardset-img">
                </figure>
              </div>
              <div class="cardset-body">
                <strong class="cardset-name">Festival</strong>
                <h2 th:text="${fvo.title}" class="cardset-tit"></h2>
                <p th:text="${fvo.tag}" class="cardset-desc"></p>
                <a th:href="@{/festival/detail(no=${fvo.no})}" class="btnset btnset-round btnset-line btnset-black">자세히보기</a>
              </div>
            </div>
            
            
            <div th:each="avo:${aList}" class="cardset cardset-lg">
              <div class="cardset-top">
                <strong class="cardset-name">Activity</strong>
                <figure class="cardset-figure">
                  <img th:src="${avo.poster}" th:title="${avo.title}" class="cardset-img">
                </figure>
              </div>
              <div class="cardset-body">
                <strong class="cardset-name">Activity</strong>
                <h2 th:text="${avo.title}" class="cardset-tit"></h2>
                <p th:text="${avo.tag}" class="cardset-desc"></p>
                <a th:href="@{/activity/detail(no=${avo.no})}" class="btnset btnset-round btnset-line btnset-black">자세히보기</a>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <!-- [E]glamping-N14 -->
    
	<!-- [S]glamping-N6 -->
    <!-- <div class="glamping-N6" data-bid="tmltc8lx2p">
      <div class="contents-inner">
        <div class="contents-container">
          <div class="imageset">
            <img class="imageset-img img-pc" src="../images/img_glamping_N6_1.png" alt="PC 이미지">
            <img class="imageset-img img-mobile" src="../images/img_glamping_mobile_N6_1.png" alt="모바일 이미지">
          </div>
          <div class="cardset cardset-xl cardset-deco">
            <h2 class="cardset-tit"> 추억쌓기 딱 좋은 템하 캠핑 <br> 마음껏 체험하기 </h2>
            <p class="cardset-desc"> 우리에게 템하 캠핑이 소중한 추억을 만들어주었습니다. <br> 다시 찾고 싶은 캠핑장입니다. </p>
            <a href="javascript:void(0);" class="btnset btnset-round btnset-line btnset-white">체험하기</a>
          </div>
        </div>
      </div>
    </div> -->
    <!-- [E]glamping-N6 -->
    
    <!-- [S]glamping-N7 -->
    <div class="glamping-N7" data-bid="fyLTc8lx7P">
      <div class="contents-inner">
        <div class="contents-container container-md">
       	  <div class="textset">
            <h2 class="textset-tit">최근 확인한 여행 게시물</h2>
          </div>
          <div class="contents-swiper">
              <div th:each="cvo:${cList}" class="swiper-slide">
                <div class="contents-slide-group container-md">
                  <a th:href="@{'/tour/detail?no='+${cvo.no}}" class="cardset">
                    <figure class="cardset-figure">
                      <img class="cardset-img" th:src="${cvo.poster}" th:title="${cvo.title}">
                    </figure>
                    <div class="cardset-body">
                      <h2 th:text="${cvo.title}" class="cardset-tit"></h2>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
          <div class="contents-control">
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]glamping-N7 -->
    
<!--     [S]glamping-N8
    <div class="glamping-N8" data-bid="TjLTC8lXf2">
      <div class="contents-inner">
        <div class="contents-container">
          <div class="videoset">
            <video class="videoset-video">
              <source src="../resources/videos/video.mp4">
            </video>
            <div class="videoset-body container-md">
              <p class="videoset-subtit">Temha Video</p>
              <h2 class="videoset-tit"> 기분좋은 일상 속 행복 여행 <br> 템하 글램핑 여행사 </h2>
              <button class="videoset-play">
                <img src="../images/icons/ico_video_play.svg" alt="플레이버튼">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    [E]glamping-N8 -->
    
    <!-- [S]glamping-N9 -->
    <!-- <div class="glamping-N9" data-bid="aqLTc8lXJJ">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="textset">
            <h2 class="textset-tit">템하를 이용한 생생 리뷰</h2>
            <p class="textset-desc">템하 캠프랜드의 생생 리뷰를 만나보세요.</p>
          </div>
          <div class="contents-control">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
        <div class="contents-container">
          <div class="contents-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="contents-slide-group">
                  <div class="cardset cardset-user">
                    <figure class="cardset-figure">
                      <img class="cardset-img" src="../images/img_profile_1.png" alt="이미지">
                    </figure>
                    <div class="cardset-profile">
                      <p class="cardset-text"> 템플릿하우스로 사용 으로 업무 시간과 생산성을 높일 수있습니다. 다양한 프로젝트 활용과 자주 쓰는 코딩을 미리 저장하고 빠르게 적용할 수 있어서 너무 편리하고 좋아요 </p>
                      <p class="cardset-info">글램핑 구매자</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="contents-slide-group">
                  <div class="cardset cardset-user">
                    <figure class="cardset-figure">
                      <img class="cardset-img" src="../images/img_profile_2.png" alt="이미지">
                    </figure>
                    <div class="cardset-profile">
                      <p class="cardset-text"> 템플릿하우스로 사용 으로 업무 시간과 생산성을 높일 수있습니다. 다양한 프로젝트 활용과 자주 쓰는 코딩을 미리 저장하고 빠르게 적용할 수 있어서 너무 편리하고 좋아요 </p>
                      <p class="cardset-info">글램핑 구매자</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="contents-slide-group">
                  <div class="cardset cardset-user">
                    <figure class="cardset-figure">
                      <img class="cardset-img" src="../images/img_profile_3.png" alt="이미지">
                    </figure>
                    <div class="cardset-profile">
                      <p class="cardset-text"> 템플릿하우스로 사용 으로 업무 시간과 생산성을 높일 수있습니다. 다양한 프로젝트 활용과 자주 쓰는 코딩을 미리 저장하고 빠르게 적용할 수 있어서 너무 편리하고 좋아요 </p>
                      <p class="cardset-info">글램핑 구매자</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="contents-slide-group">
                  <div class="cardset cardset-user">
                    <figure class="cardset-figure">
                      <img class="cardset-img" src="../images/img_profile_4.png" alt="이미지">
                    </figure>
                    <div class="cardset-profile">
                      <p class="cardset-text"> 템플릿하우스로 사용 으로 업무 시간과 생산성을 높일 수있습니다. 다양한 프로젝트 활용과 자주 쓰는 코딩을 미리 저장하고 빠르게 적용할 수 있어서 너무 편리하고 좋아요 </p>
                      <p class="cardset-info">글램핑 구매자</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="contents-slide-group">
                  <div class="cardset cardset-user">
                    <figure class="cardset-figure">
                      <img class="cardset-img" src="../images/img_profile_5.png" alt="이미지">
                    </figure>
                    <div class="cardset-profile">
                      <p class="cardset-text"> 템플릿하우스로 사용 으로 업무 시간과 생산성을 높일 수있습니다. 다양한 프로젝트 활용과 자주 쓰는 코딩을 미리 저장하고 빠르게 적용할 수 있어서 너무 편리하고 좋아요 </p>
                      <p class="cardset-info">글램핑 구매자</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="contents-slide-group">
                  <div class="cardset cardset-user">
                    <figure class="cardset-figure">
                      <img class="cardset-img" src="../images/img_profile_1.png" alt="이미지">
                    </figure>
                    <div class="cardset-profile">
                      <p class="cardset-text"> 템플릿하우스로 사용 으로 업무 시간과 생산성을 높일 수있습니다. 다양한 프로젝트 활용과 자주 쓰는 코딩을 미리 저장하고 빠르게 적용할 수 있어서 너무 편리하고 좋아요 </p>
                      <p class="cardset-info">글램핑 구매자</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="contents-slide-group">
                  <div class="cardset cardset-user">
                    <figure class="cardset-figure">
                      <img class="cardset-img" src="../images/img_profile_2.png" alt="이미지">
                    </figure>
                    <div class="cardset-profile">
                      <p class="cardset-text"> 템플릿하우스로 사용 으로 업무 시간과 생산성을 높일 수있습니다. 다양한 프로젝트 활용과 자주 쓰는 코딩을 미리 저장하고 빠르게 적용할 수 있어서 너무 편리하고 좋아요 </p>
                      <p class="cardset-info">글램핑 구매자</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="contents-slide-group">
                  <div class="cardset cardset-user">
                    <figure class="cardset-figure">
                      <img class="cardset-img" src="../images/img_profile_3.png" alt="이미지">
                    </figure>
                    <div class="cardset-profile">
                      <p class="cardset-text"> 템플릿하우스로 사용 으로 업무 시간과 생산성을 높일 수있습니다. 다양한 프로젝트 활용과 자주 쓰는 코딩을 미리 저장하고 빠르게 적용할 수 있어서 너무 편리하고 좋아요 </p>
                      <p class="cardset-info">글램핑 구매자</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="contents-slide-group">
                  <div class="cardset cardset-user">
                    <figure class="cardset-figure">
                      <img class="cardset-img" src="../images/img_profile_4.png" alt="이미지">
                    </figure>
                    <div class="cardset-profile">
                      <p class="cardset-text"> 템플릿하우스로 사용 으로 업무 시간과 생산성을 높일 수있습니다. 다양한 프로젝트 활용과 자주 쓰는 코딩을 미리 저장하고 빠르게 적용할 수 있어서 너무 편리하고 좋아요 </p>
                      <p class="cardset-info">글램핑 구매자</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="contents-slide-group">
                  <div class="cardset cardset-user">
                    <figure class="cardset-figure">
                      <img class="cardset-img" src="../images/img_profile_5.png" alt="이미지">
                    </figure>
                    <div class="cardset-profile">
                      <p class="cardset-text"> 템플릿하우스로 사용 으로 업무 시간과 생산성을 높일 수있습니다. 다양한 프로젝트 활용과 자주 쓰는 코딩을 미리 저장하고 빠르게 적용할 수 있어서 너무 편리하고 좋아요 </p>
                      <p class="cardset-info">글램핑 구매자</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- [E]glamping-N9 -->
  </main>
</body>
</html>