<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main class="th-layout-main">
		<!-- [S]glamping-N4 -->
		<div class="glamping-N4" data-bid="keLTc8lWRx">
		    <div class="contents-container">
		        <div class="contents-swiper">
		            <div class="swiper-wrapper">
		                <div class="swiper-slide">
		                    <img class="contents-backimg img-pc" src="https://images.unsplash.com/photo-1653225516877-fc465ee3ccd1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="PC 메인 비주얼 이미지">
		                    <img class="contents-backimg img-mobile" src="https://images.unsplash.com/photo-1653225516877-fc465ee3ccd1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="모바일 메인 비주얼 이미지">
		                    <div class="contents-slide-group container-md">
		                        <div class="textset textset-visual">
		                            <h2 class="textset-tit">함께 떠나는 여행</h2>
		                            <p class="textset-desc">여행을 통해 가족, 연인과의 추억의 시간을 만들어 보세요. <br> 트립트래블에서 여러분을 초대합니다.</p>
		                        </div>
		                        <a class="btnset btnset-round btnset-line" href="/tour/find">자세히 보기</a>
		                    </div>
		                </div>
		                <div class="swiper-slide">
		                    <img class="contents-backimg img-pc" src="https://images.unsplash.com/photo-1616340705328-c48c03dc722e?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="PC 메인 비주얼 이미지">
		                    <img class="contents-backimg img-mobile" src="https://images.unsplash.com/photo-1616340705328-c48c03dc722e?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="모바일 메인 비주얼 이미지">
		                    <div class="contents-slide-group container-md">
		                        <div class="textset textset-visual">
		                            <h2 class="textset-tit">함께 떠나는 여행</h2>
		                            <p class="textset-desc">여행을 통해 가족, 연인과의 추억의 시간을 만들어 보세요. <br> 트립트래블에서 여러분을 초대합니다.</p>
		                        </div>
		                        <a class="btnset btnset-round btnset-line" href="/festival/find">자세히 보기</a>
		                    </div>
		                </div>
		                <div class="swiper-slide">
		                    <img class="contents-backimg img-pc" src="https://images.unsplash.com/photo-1682673549339-3799c35e4129?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="PC 메인 비주얼 이미지">
		                    <img class="contents-backimg img-mobile" src="https://images.unsplash.com/photo-1682673549339-3799c35e4129?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="모바일 메인 비주얼 이미지">
		                    <div class="contents-slide-group container-md">
		                        <div class="textset textset-visual">
		                            <h2 class="textset-tit">함께 떠나는 여행</h2>
		                            <p class="textset-desc">여행을 통해 가족, 연인과의 추억의 시간을 만들어 보세요. <br> 트립트래블에서 여러분을 초대합니다.</p>
		                        </div>
		                        <a class="btnset btnset-round btnset-line" href="/activity/find">자세히 보기</a>
		                    </div>
		                </div>
		            </div>
		            <div class="swiper-button-next"></div>
		            <div class="swiper-button-prev"></div>
		            <div class="contents-control">
		                <div class="swiper-pagination"></div>
		                <div class="swiper-button-pause">
		                    <img src="/images/icons/ico_pause_white.svg" alt="스와이퍼 멈춤버튼">
		                </div>
		                <div class="swiper-button-play">
		                    <img src="/images/icons/ico_play_white.svg" alt="스와이퍼 재생버튼">
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<!-- [E]glamping-N4 -->

		<!-- [S]glamping-N14 -->
		<div class="glamping-N14" data-bid="ZyLTc8M98q">
		    <div class="contents-inner">
		        <div class="contents-container container-md">
		            <div class="cardset-wrap">
		                <div th:each="tvo:${tList}" class="cardset cardset-lg">
		                    <div class="cardset-top">
		                        <strong class="cardset-name">Tour</strong>
		                        <figure class="cardset-figure">
		                            <img th:src="${tvo.poster}" th:title="${tvo.title}" class="cardset-img">
		                        </figure>
		                    </div>
		                    <div class="cardset-body">
		                        <strong class="cardset-name">Tour</strong>
		                        <h2 th:text="${tvo.title}" class="cardset-tit"></h2>
		                        <p th:text="${tvo.tag}" class="cardset-desc"></p>
		                        <a th:href="@{/tour/detail(no=${tvo.no})}" class="btnset btnset-round btnset-line btnset-black">자세히보기</a>
		                    </div>
		                </div>
		
		                <div th:each="fvo:${fList}" class="cardset cardset-lg">
		                    <div class="cardset-top">
		                        <strong class="cardset-name">Festival</strong>
		                        <figure class="cardset-figure">
		                            <img th:src="${fvo.poster}" th:title="${fvo.title}" class="cardset-img">
		                        </figure>
		                    </div>
		                    <div class="cardset-body">
		                        <strong class="cardset-name">Festival</strong>
		                        <h2 th:text="${fvo.title}" class="cardset-tit"></h2>
		                        <p th:text="${fvo.tag}" class="cardset-desc"></p>
		                        <a th:href="@{/festival/detail(no=${fvo.no})}" class="btnset btnset-round btnset-line btnset-black">자세히보기</a>
		                    </div>
		                </div>
		
		                <div th:each="avo:${aList}" class="cardset cardset-lg">
		                    <div class="cardset-top">
		                        <strong class="cardset-name">Activity</strong>
		                        <figure class="cardset-figure">
		                            <img th:src="${avo.poster}" th:title="${avo.title}" class="cardset-img">
		                        </figure>
		                    </div>
		                    <div class="cardset-body">
		                        <strong class="cardset-name">Activity</strong>
		                        <h2 th:text="${avo.title}" class="cardset-tit"></h2>
		                        <p th:text="${avo.tag}" class="cardset-desc"></p>
		                        <a th:href="@{/activity/detail(no=${avo.no})}" class="btnset btnset-round btnset-line btnset-black">자세히보기</a>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<!-- [E]glamping-N14 -->

		<!-- [S]glamping-N7 -->
		<!-- <div class="glamping-N7" data-bid="fyLTc8lx7P">
		    <div class="contents-inner">
		        <div class="contents-container container-md">
		            <div class="textset">
		                <h2 class="textset-tit">최근 확인한 여행 게시물</h2>
		            </div>
		            <div class="contents-swiper">
		                <div th:each="cvo:${cList}" class="swiper-slide">
		                    <div class="contents-slide-group container-md">
		                        <a th:href="@{/tour/detail(no=${cvo.no})}" class="cardset">
		                            <figure class="cardset-figure">
		                                <img th:src="${cvo.poster}" th:title="${cvo.title}" class="cardset-img">
		                            </figure>
		                            <div class="cardset-body">
		                                <h2 th:text="${cvo.title}" class="cardset-tit"></h2>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		            </div>
		            <div class="swiper-button-next"></div>
		            <div class="swiper-button-prev"></div>
		        </div>
		        <div class="contents-control">
		            <div class="swiper-pagination"></div>
		        </div>
		    </div>
		</div> -->
		<!-- [E]glamping-N7 -->
	</main>
</body>
</html>