@charset "utf-8"; 

/* Header */
/* glamping-N1 [MnLSbICwb0] */
.glamping-N1 { position: absolute; top: 0; left: 0; width: 100%; height: 8rem; z-index: 200; }
.glamping-N1::after { content: ''; position: absolute; top: 0; left: 0; height: 100%; width: 100%; transition: 0.3s; background: linear-gradient(rgba(var(--black-rgb), 0.5), rgba(0, 255, 0, 0)); }
.glamping-N1:hover::after { background: rgba(var(--black-rgb), 0.7); }
.glamping-N1.header-top-active { position: fixed; }
.glamping-N1.block-active::after { background: rgba(var(--black-rgb), 0.7); height: 32rem; }
.glamping-N1.block-active .header-sublist { display: block; height: auto; min-height: 24rem; }
.glamping-N1 .header-container { display: flex; align-items: center; justify-content: space-between; position: relative; width: 100%; height: 8rem; padding: 0 8rem; z-index: 100; }
.glamping-N1 .header-title { margin-bottom: 0; }
.glamping-N1 .header-title a {font-size: 3rem; color: #fff;}
.glamping-N1 .header-title img { width: 100%; height: 100%; object-fit: contain; }
.glamping-N1 .header-center { position: absolute; top: 0; left: 50%; transform: translateX(-50%); }
/* .glamping-N1 .header-member { display: none; } */
.glamping-N1 .header-gnblist { display: flex; }
.glamping-N1 .header-gnbitem { position: relative; }
.glamping-N1 .header-gnblink { position: relative; padding: 2.8rem 3rem; font-size: var(--fs-p2); font-weight: 500; text-align: center; white-space: nowrap; color: var(--text-color5); }
.glamping-N1 .header-gnblink span::after { content: ''; position: absolute; left: 3rem; bottom: 0; height: 0.2rem; width: calc(100% - 6rem); transition: 0.3s; transform: scaleX(0); background-color: var(--white); }
.glamping-N1 .header-gnblink.on span::after { content: ''; transform: scaleX(1); }
.glamping-N1 .header-sublist { display: none; position: absolute; width: 100%; padding: 2.5rem 0; height: 0; }
.glamping-N1 .header-sublink { width: 100%; padding: 0.6rem 0; font-size: var(--fs-p3); line-height: 2rem; font-weight: 500; text-align: center; color: #d4d4d8; }
.glamping-N1 .header-sublink:hover { color: var(--text-color5); }
.glamping-N1 .header-right { display: flex; align-items: center; gap: 2rem;}
.glamping-N1 .header-utils { display: flex; align-items: center; }
.glamping-N1 .header-utils .header-utils-btn { width: 3.2rem; height: 3.2rem; border: transparent; background-color: transparent; background-position: center; background-size: cover; }
.glamping-N1 .header-utils .header-utils-btn+.header-utils-btn { margin-left: 2.4rem; }
.glamping-N1 .header-utils .btn-moclose { display: none; }
.glamping-N1 .header-utils .btn-momenu { display: none; }
.glamping-N1 .header-fullmenu { position: fixed; z-index: 99999; padding: 0 2.4rem; background-color: var(--black); transition: 0.3s; opacity: 0; visibility: hidden; overflow: hidden; }
.glamping-N1 .header-fullmenu.fullmenu-right { width: 0; height: 100%; top: 0; right: 0; }
.glamping-N1 .header-fullmenu.fullmenu-left { width: 0; height: 100%; top: 0; left: 0; }
.glamping-N1 .header-fullmenu.fullmenu-top { top: 0; left: 0; width: 100%; height: 0; }
.glamping-N1 .header-fullmenu.fullmenu-bottom { bottom: 0; left: 0; width: 100%; height: 0; }
.glamping-N1 .header-fullmenu.fullmenu-active { width: 100%; height: 100vh; opacity: 1; visibility: visible; }
.glamping-N1 .fullmenu-wrapper { position: relative; top: 50%; transform: translateY(-50%); width: 100%; max-width: 128rem; margin: 0 auto; }
.glamping-N1 .fullmenu-head { display: flex; justify-content: space-between; align-items: center; margin-bottom: 10rem; }
.glamping-N1 .fullmenu-title { margin-bottom: 0; }
.glamping-N1 .fullmenu-title a { width: 17.4rem; height: 3.7rem; color: #fff; font-size: 2.4rem}
.glamping-N1 .fullmenu-title img { width: 100%; height: 100%; object-fit: contain; }
.glamping-N1 .fullmenu-member { display: flex; }
.glamping-N1 .fullmenu-member li { position: relative; }
.glamping-N1 .fullmenu-member li a { padding: 1.2rem; font-size: var(--fs-p1); font-weight: 500; color: var(--text-color5); }
.glamping-N1 .fullmenu-member li+li::after { display:none; content: ''; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 0.1rem; height: 1.4rem; background-color: rgba(255, 255, 255, 0.2); }
.glamping-N1 .fullmenu-member .inline{display: none;}
.glamping-N1 .fullmenu-member .inline.login{gap: 0.5rem;}
.glamping-N1 .fullmenu-member .inline.logout{gap: 2rem;}
.glamping-N1 .fullmenu-member .inline li{color: #fff;}
.glamping-N1 .fullmenu-member .inline li span{font-weight: bold}
.glamping-N1 .header-member .inline{display: flex; justify-content: space-between; align-items: center;}
.glamping-N1 .header-member .inline.login{gap: 0.5rem;}
.glamping-N1 .header-member .inline.logout{gap: 2rem;}
.glamping-N1 .header-member .inline li{color: #fff;}
.glamping-N1 .header-member .inline li span{font-weight: bold}
.glamping-N1 .header-member .inline input{padding: 0.6rem 1rem; border: none; border-radius: 0; background : rgba(255,255,255,0.75); color: #222;}
.glamping-N1 .header-member .inline input[type="button"]{background: #fff; color: #222; font-weight: 500;}
.glamping-N1 .fullmenu-gnblist { display: flex; justify-content: center; }
.glamping-N1 .fullmenu-gnbitem { width: 20%; }
.glamping-N1 .fullmenu-gnbitem+.fullmenu-gnbitem { margin-left: 4rem; }
.glamping-N1 .fullmenu-gnblink { position: relative; width: 100%; padding-bottom: 4rem; font-size: var(--fs-h6); font-weight: 500; color: var(--text-color5); border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
.glamping-N1 .fullmenu-gnblink::after { content: ''; position: absolute; left: 0; bottom: 0; display: block; width: 0; height: 0.1rem; background-color: var(--white); transition: 0.2s; }
.glamping-N1 .fullmenu-gnblink.on::after { width: 18rem; }
.glamping-N1 .fullmenu-sublist { padding-top: 4rem; }
.glamping-N1 .fullmenu-subitem+.fullmenu-subitem { padding-top: 0.8rem; }
.glamping-N1 .fullmenu-subitem:hover .fullmenu-sublink { color: var(--text-color5); }
.glamping-N1 .fullmenu-sublink { font-size: var(--fs-p2); font-weight: 400; color: #a2a2a2; }
.glamping-N1 .fullmenu-close { position: fixed; right: 8rem; top: 2.4rem; width: 3.2rem; height: 3.2rem; background-color: transparent; border: none; }
.glamping-N1 .fullmenu-close img { width: 100%; height: 100%; object-fit: contain; }
@media (max-width: 1200px) {
 .glamping-N1 .header-container { padding: 0 2.4rem; }
 .glamping-N1 .header-gnblink { padding: 2.8rem 2rem; }
 .glamping-N1 .fullmenu-close { right: 2.4rem; }
}
@media (max-width: 992px) {
 .glamping-N1 { height: 6rem; }
 .glamping-N1:hover::after { background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 255, 0, 0)); }
 .glamping-N1 .header-title a { width: 12.4rem; height: 2.6rem; }
 .glamping-N1 .header-container { height: 6rem; }
 .glamping-N1 .header-center { height: calc(100vh - 6rem); overflow-y: auto; }
 .glamping-N1 .header-gnblist { display: none; width: 100%; flex-direction: column; }
 .glamping-N1 .header-gnblink { display: flex; align-items: flex-end; width: 100%; padding: 2rem 0; text-align: left; }
 .glamping-N1 .header-gnbitem:hover .header-gnblink span { border: none; }
 .glamping-N1 .header-sublist { display: none; position: relative; padding: 2rem 0 4rem 0; }
 .glamping-N1 .header-sublink { text-align: left; }
 .glamping-N1 .header-gnbitem.item-active .header-sublist { display: block; height: auto; margin: 0; }
 .glamping-N1 .header-gnbitem.item-active .header-gnblink { border-bottom: 1px solid var(--white); }
 .glamping-N1 .header-gnbitem.item-active .header-gnblink::after { transform: rotate(180deg); }
 .glamping-N1 .header-subitem+.header-subitem { padding-top: 0.8rem; }
 .glamping-N1 .header-sublink { padding: 0; color: var(--text-color4); }
 .glamping-N1 .header-sublink:active { color: var(--text-color5); }
 .glamping-N1 .header-utils .header-utils-btn { width: 2.8rem; height: 2.8rem; }
 .glamping-N1 .header-utils .btn-allmenu { display: none; }
 .glamping-N1 .header-utils .btn-momenu { display: block; }
 .glamping-N1.mo-active { background-color: var(--black); }
 .glamping-N1.mo-active .header-center { left: 0; transform: translateX(0); top: 100%; width: 100%; padding: 0 2.4rem; padding-bottom: 19rem; overflow-y: auto; background-color: #111111; }
 .glamping-N1.mo-active .header-title { height: 6rem; display: flex; align-items: center; }
 .glamping-N1.mo-active .header-member { width: 100%; margin: 4rem 0 2rem 0; }
 .glamping-N1.mo-active .header-member li { position: relative; }
 .glamping-N1.mo-active .header-member li+li::after { content: ''; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 0.1rem; height: 1.4rem; background-color: rgba(112, 112, 112, 0.7); }
 .glamping-N1.mo-active .header-member a { padding: 0; background: none; border: none; padding-right: 1.2rem; }
 .glamping-N1.mo-active .header-member li+li a { padding-left: 1.2rem; padding-right: 0; }
 .glamping-N1 .header-member .inline{display: none;}
 .glamping-N1 .fullmenu-member .inline{display: flex; justify-content: space-between; align-items: center;}
 .glamping-N1.mo-active .header-gnblist { display: block; height: 100%; }
 .glamping-N1.mo-active .header-gnblink { align-items: center; justify-content: space-between; border-bottom: 1px solid rgba(255, 255, 255, 0.2); margin: 0; }
 .glamping-N1.mo-active .header-gnblink::after { content: ''; display: flex; width: 1.6rem; height: 1.6rem; background-image: url("../../resources/icons/ico_downarrow_white.svg"); background-repeat: no-repeat; background-position: center right; background-size: cover; transition: .3s; }
 .glamping-N1.mo-active .header-gnblink span::after { content: none; }
 .glamping-N1.mo-active .header-gnbitem.active .header-gnblink::after { content: ''; transform: rotate(180deg); }
 .glamping-N1 .header-gnblink:hover span::after { height: 0.1rem; }
 .glamping-N1.mo-active .header-member { display: flex; font-size: var(--fs-p2); }
 .glamping-N1.mo-active .header-member li a { color: var(--text-color5); }
 .glamping-N1.mo-active .btn-moclose { display: block; }
 .glamping-N1.mo-active .btn-momenu, .glamping-N1.mo-active .btn-user { display: none; }
 .glamping-N1 .header-fullmenu { display: none; }
}

/* glamping-N1 [hyLsO8I6BZ] : 편집됨 */
@media (max-width: 992px) {
 .glamping-N1[data-bid=hyLsO8I6BZ] .header-sublink { text-align: left; }
 .glamping-N1[data-bid=hyLsO8I6BZ] .header-sublink { padding: 0; color: var(--text-color4); }
 .glamping-N1[data-bid=hyLsO8I6BZ].mo-active .header-member { width: 100%; margin: 4rem 0 2rem 0; }
 .glamping-N1[data-bid=hyLsO8I6BZ].mo-active .header-gnblink::after { background-image: url("../../resources/icons/ico_downarrow_white.svg"); }
 .glamping-N1[data-bid=hyLsO8I6BZ].mo-active .header-member { display: flex; font-size: var(--fs-p2); }
}

/* glamping-N1 [MMlTc8l2sA] : 편집됨 */
@media (max-width: 992px) {
 .glamping-N1[data-bid=MMlTc8l2sA] .header-sublink { text-align: left; }
 .glamping-N1[data-bid=MMlTc8l2sA] .header-sublink { padding: 0; color: var(--text-color4); }
 .glamping-N1[data-bid=MMlTc8l2sA].mo-active .header-member { width: 100%; margin: 4rem 0 2rem 0; }
 .glamping-N1[data-bid=MMlTc8l2sA].mo-active .header-gnblink::after { background-image: url("../../resources/icons/ico_downarrow_white.svg"); }
 .glamping-N1[data-bid=MMlTc8l2sA].mo-active .header-member { display: flex; font-size: var(--fs-p2); }
}

/* glamping-N1 [DkLtC8lbhk] : 편집됨 */
@media (max-width: 992px) {
 .glamping-N1[data-bid=DkLtC8lbhk] .header-sublink { text-align: left; }
 .glamping-N1[data-bid=DkLtC8lbhk] .header-sublink { padding: 0; color: var(--text-color4); }
 .glamping-N1[data-bid=DkLtC8lbhk].mo-active .header-member { width: 100%; margin: 4rem 0 2rem 0; }
 .glamping-N1[data-bid=DkLtC8lbhk].mo-active .header-gnblink::after { background-image: url("../../resources/icons/ico_downarrow_white.svg"); }
 .glamping-N1[data-bid=DkLtC8lbhk].mo-active .header-member { display: flex; font-size: var(--fs-p2); }
}

/* glamping-N1 [ZJLTC8lkqw] : 편집됨 */
@media (max-width: 992px) {
 .glamping-N1[data-bid=ZJLTC8lkqw] .header-sublink { text-align: left; }
 .glamping-N1[data-bid=ZJLTC8lkqw] .header-sublink { padding: 0; color: var(--text-color4); }
 .glamping-N1[data-bid=ZJLTC8lkqw].mo-active .header-member { width: 100%; margin: 4rem 0 2rem 0; }
 .glamping-N1[data-bid=ZJLTC8lkqw].mo-active .header-gnblink::after { background-image: url("../../resources/icons/ico_downarrow_white.svg"); }
 .glamping-N1[data-bid=ZJLTC8lkqw].mo-active .header-member { display: flex; font-size: var(--fs-p2); }
}

/* glamping-N1 [kWLtc8lOio] : 편집됨 */
@media (max-width: 992px) {
 .glamping-N1[data-bid=kWLtc8lOio] .header-sublink { text-align: left; }
 .glamping-N1[data-bid=kWLtc8lOio] .header-sublink { padding: 0; color: var(--text-color4); }
 .glamping-N1[data-bid=kWLtc8lOio].mo-active .header-member { width: 100%; margin: 4rem 0 2rem 0; }
 .glamping-N1[data-bid=kWLtc8lOio].mo-active .header-gnblink::after { background-image: url("../../resources/icons/ico_downarrow_white.svg"); }
 .glamping-N1[data-bid=kWLtc8lOio].mo-active .header-member { display: flex; font-size: var(--fs-p2); }
}

/* glamping-N1 [yBLTc8LQWo] : 편집됨 */
@media (max-width: 992px) {
 .glamping-N1[data-bid=yBLTc8LQWo] .header-sublink { text-align: left; }
 .glamping-N1[data-bid=yBLTc8LQWo] .header-sublink { padding: 0; color: var(--text-color4); }
 .glamping-N1[data-bid=yBLTc8LQWo].mo-active .header-member { width: 100%; margin: 4rem 0 2rem 0; }
 .glamping-N1[data-bid=yBLTc8LQWo].mo-active .header-gnblink::after { background-image: url("../../resources/icons/ico_downarrow_white.svg"); }
 .glamping-N1[data-bid=yBLTc8LQWo].mo-active .header-member { display: flex; font-size: var(--fs-p2); }
}

/* glamping-N1 [IiLTC8Lwme] : 편집됨 */
@media (max-width: 992px) {
 .glamping-N1[data-bid=IiLTC8Lwme] .header-sublink { text-align: left; }
 .glamping-N1[data-bid=IiLTC8Lwme] .header-sublink { padding: 0; color: var(--text-color4); }
 .glamping-N1[data-bid=IiLTC8Lwme].mo-active .header-member { width: 100%; margin: 4rem 0 2rem 0; }
 .glamping-N1[data-bid=IiLTC8Lwme].mo-active .header-gnblink::after { background-image: url("../../resources/icons/ico_downarrow_white.svg"); }
 .glamping-N1[data-bid=IiLTC8Lwme].mo-active .header-member { display: flex; font-size: var(--fs-p2); }
}

/* glamping-N1 [iIltc8M004] : 편집됨 */
@media (max-width: 992px) {
 .glamping-N1[data-bid=iIltc8M004] .header-sublink { text-align: left; }
 .glamping-N1[data-bid=iIltc8M004] .header-sublink { padding: 0; color: var(--text-color4); }
 .glamping-N1[data-bid=iIltc8M004].mo-active .header-member { width: 100%; margin: 4rem 0 2rem 0; }
 .glamping-N1[data-bid=iIltc8M004].mo-active .header-gnblink::after { background-image: url("../../resources/icons/ico_downarrow_white.svg"); }
 .glamping-N1[data-bid=iIltc8M004].mo-active .header-member { display: flex; font-size: var(--fs-p2); }
}

/* glamping-N1 [XUlTC8m48A] : 편집됨 */
@media (max-width: 992px) {
 .glamping-N1[data-bid=XUlTC8m48A] .header-sublink { text-align: left; }
 .glamping-N1[data-bid=XUlTC8m48A] .header-sublink { padding: 0; color: var(--text-color4); }
 .glamping-N1[data-bid=XUlTC8m48A].mo-active .header-member { width: 100%; margin: 4rem 0 2rem 0; }
 .glamping-N1[data-bid=XUlTC8m48A].mo-active .header-gnblink::after { background-image: url("../../resources/icons/ico_downarrow_white.svg"); }
 .glamping-N1[data-bid=XUlTC8m48A].mo-active .header-member { display: flex; font-size: var(--fs-p2); }
}

/* glamping-N1 [YpltC8M8nB] : 편집됨 */
@media (max-width: 992px) {
 .glamping-N1[data-bid=YpltC8M8nB] .header-sublink { text-align: left; }
 .glamping-N1[data-bid=YpltC8M8nB] .header-sublink { padding: 0; color: var(--text-color4); }
 .glamping-N1[data-bid=YpltC8M8nB].mo-active .header-member { width: 100%; margin: 4rem 0 2rem 0; }
 .glamping-N1[data-bid=YpltC8M8nB].mo-active .header-gnblink::after { background-image: url("../../resources/icons/ico_downarrow_white.svg"); }
 .glamping-N1[data-bid=YpltC8M8nB].mo-active .header-member { display: flex; font-size: var(--fs-p2); }
}

/* glamping-N1 [HOltC8Mb4r] : 편집됨 */
@media (max-width: 992px) {
 .glamping-N1[data-bid=HOltC8Mb4r] .header-sublink { text-align: left; }
 .glamping-N1[data-bid=HOltC8Mb4r] .header-sublink { padding: 0; color: var(--text-color4); }
 .glamping-N1[data-bid=HOltC8Mb4r].mo-active .header-member { width: 100%; margin: 4rem 0 2rem 0; }
 .glamping-N1[data-bid=HOltC8Mb4r].mo-active .header-gnblink::after { background-image: url("../../resources/icons/ico_downarrow_white.svg"); }
 .glamping-N1[data-bid=HOltC8Mb4r].mo-active .header-member { display: flex; font-size: var(--fs-p2); }
}

/* glamping-N1 [rxltc8mE5m] : 편집됨 */
@media (max-width: 992px) {
 .glamping-N1[data-bid=rxltc8mE5m] .header-sublink { text-align: left; }
 .glamping-N1[data-bid=rxltc8mE5m] .header-sublink { padding: 0; color: var(--text-color4); }
 .glamping-N1[data-bid=rxltc8mE5m].mo-active .header-member { width: 100%; margin: 4rem 0 2rem 0; }
 .glamping-N1[data-bid=rxltc8mE5m].mo-active .header-gnblink::after { background-image: url("../../resources/icons/ico_downarrow_white.svg"); }
 .glamping-N1[data-bid=rxltc8mE5m].mo-active .header-member { display: flex; font-size: var(--fs-p2); }
}

/* glamping-N1 [zULtc8MG13] : 편집됨 */
@media (max-width: 992px) {
 .glamping-N1[data-bid=zULtc8MG13] .header-sublink { text-align: left; }
 .glamping-N1[data-bid=zULtc8MG13] .header-sublink { padding: 0; color: var(--text-color4); }
 .glamping-N1[data-bid=zULtc8MG13].mo-active .header-member { width: 100%; margin: 4rem 0 2rem 0; }
 .glamping-N1[data-bid=zULtc8MG13].mo-active .header-gnblink::after { background-image: url("../../resources/icons/ico_downarrow_white.svg"); }
 .glamping-N1[data-bid=zULtc8MG13].mo-active .header-member { display: flex; font-size: var(--fs-p2); }
}

/* glamping-N1 [fTlTc8Mo28] : 편집됨 */
@media (max-width: 992px) {
 .glamping-N1[data-bid=fTlTc8Mo28] .header-sublink { text-align: left; }
 .glamping-N1[data-bid=fTlTc8Mo28] .header-sublink { padding: 0; color: var(--text-color4); }
 .glamping-N1[data-bid=fTlTc8Mo28].mo-active .header-member { width: 100%; margin: 4rem 0 2rem 0; }
 .glamping-N1[data-bid=fTlTc8Mo28].mo-active .header-gnblink::after { background-image: url("../../resources/icons/ico_downarrow_white.svg"); }
 .glamping-N1[data-bid=fTlTc8Mo28].mo-active .header-member { display: flex; font-size: var(--fs-p2); }
}


/* Footer */
/* glamping-N3 [AtLsBIcX6z] */
.glamping-N3 { overflow: hidden; }
.glamping-N3 .footer-container { position: relative; width: 100%; height: 35rem; background: #222}
.glamping-N3 .footer-backimg { width: 100%; height: auto; margin-left: 0; object-fit: cover; }
.glamping-N3 .footer-body { position: absolute; top: 50%; left: 50%; width: 100%; transform: translate(-50%, -50%); padding: 0 2.4rem; }
.glamping-N3 .footer-logo { text-align: center; }
.glamping-N3 .footer-logo a {font-size: 3rem; color: #fff;}
.glamping-N3 .footer-logo img { width: 100%; height: 100%; object-fit: contain; }
.glamping-N3 .footer-menulist { display: flex; justify-content: center; margin-top: 7rem; font-size: var(--fs-p2); }
.glamping-N3 .footer-menuitem { position: relative; width: 20%; }
.glamping-N3 .footer-menuitem a { font-size: var(--fs-p2); font-weight: 500; color: #fff; background-size: contain; }
.glamping-N3 .footer-menuitem+.footer-menuitem { padding-left: 4rem; }
.glamping-N3 .footer-menuitem+.footer-menuitem::after { content: ''; position: absolute; top: 50%; left: 0; transform: translateY(-50%); width: 1px; height: 13.8rem; background-color: rgba(255, 255, 255, 0.1); }
.glamping-N3 .footer-sublist { margin-top: 1.6rem; }
.glamping-N3 .footer-sublist a { width: 100%; font-size: var(--fs-p3); font-weight: 400; color: #cccc; }
.glamping-N3 .footer-subitem+.footer-subitem { margin-top: 0.4rem; }
.glamping-N3 .footer-snslist { display: flex; justify-content: center; margin-top: 4rem; }
.glamping-N3 .footer-snsitem+.footer-snsitem { margin-left: 0.8rem; }
.glamping-N3 .footer-snslink { width: 3.6rem; height: 3.6rem; }
.glamping-N3 .footer-snslink img { width: 100%; height: 100%; object-fit: contain; }
.glamping-N3 .footer-menugroup { display: flex; align-items: center; justify-content: center; margin-top: 2rem; font-size: var(--fs-p3); }
.glamping-N3 .footer-menugroup a { color: #fff; }
.glamping-N3 .footer-menulink a { color: #fff; padding-right: 1.2rem; }
.glamping-N3 .footer-menulink+.footer-menulink a { padding-left: 1.2rem; }
.glamping-N3 .footer-menulink { position: relative; }
.glamping-N3 .footer-menulink+.footer-menulink::after { content: ''; position: absolute; top: 50%; left: 0; transform: translateY(-50%); width: 1px; height: 1.4rem; background-color: rgba(255, 255, 255, 0.1); }
.glamping-N3 .footer-txtgroup { margin-top: 1.2rem; }
.glamping-N3 .footer-txt { display: flex; justify-content: center; color: #ebebeb; font-size: var(--fs-p3); }
.glamping-N3 .footer-txt+.footer-txt { margin-top: 0.3rem; color: #cccc; }
.glamping-N3 .footer-txt p { margin-bottom: 0; }
.glamping-N3 .footer-txt p+p { margin-left: 0.8rem; }
.glamping-N3 .footer-txt p span+span { margin-left: 0.8rem; }
@media (max-width: 992px) {
 .glamping-N3 .footer-container { height: 30rem; }
 .glamping-N3 .footer-backimg { width: 100%; margin-left: 0; }
 .glamping-N3 .footer-menulist { display: none; }
 .glamping-N3 .footer-snslist { margin-top: 2.4rem; }
 .glamping-N3 .footer-menugroup { margin-top: 2.4rem; }
 .glamping-N3 .footer-txt { flex-direction: column; align-items: center; }
 .glamping-N3 .footer-txt p+p { margin-left: 0; }
}